body{
  /*width: 400px;*/
  /*background-color: burlywood;*/
  /*position: absolute;*/
  /*left: 330px;*/
}

#container{
  width: 1000px;
  /*background-color: burlywood;*/
  position: absolute;
  left: 400px;
  text-align: center;
}

img{
  height: 150px;
  margin-top: 12px;
}

hr{
  width: 200px;
  color: grey;
}

#element{
  border: 0.5px solid grey;
  margin-top: 30px;
  margin-left: 40px;
  width: 250px;
  height: 365px;
  float: left;
  border-radius: 8px;
}

p, a{
  color: black;
  font-family: "Apple SD Gothic Neo";
}

button{
  float: left;
  margin-right: 20px;
}

#clicker{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom:16px
}

#link{
  font-size: 14px;
  color: brown;
  position: relative;
  bottom: 20px;
}

